.ships {background: ghostwhite;padding-bottom: 2em;}

.offer{padding: 1rem;background: ghostwhite;border-bottom: ;transition: background-color 2s ease-out;}
.offer.focused{background-color: white;box-shadow: 0 2px 6px rgb(0 0 0 / 10%);margin: 6px 0;box-sizing: border-box;}

.brief{position:relative;overflow: hidden;white-space: nowrap;background: inherit;}
.brief>.title{font-weight:bold;display: inline;margin-right: .5em;}
.brief>.subtitle{color: lightcoral;font-style: italic;font-family:cursive;display: inline;}
.brief>.note{color:gray; font-size:.9em}
.brief>.price{position:absolute;background: inherit;padding: 0 .2em;right:0;top: 0;}
.brief>.price::before {color: lightgray;font-size: .8em;}


.weeks{display: flex;vertical-align: bottom;}
.weeks>.week{flex:1;margin: 2px;}

.gallery{margin: 1rem -1rem;height: 320px;overflow-x:scroll;overflow-y: hidden;white-space: nowrap;background: white;}
.gallery>img{max-height: 320px; margin: 0 1px;vertical-align: middle;}


attic {
  background: darkslategray;
  color: white;
  /* height: 4em; */
}

.specs>span {
  margin-right: 8px;
  padding: 2px 6px;
  background: lavender 2px no-repeat;
  padding-left: 21px;
}

.specs>.hp::after{
	content:"hp"
}

.specs {
  font-size: .9em;
  margin-top: .5em;
}

.price:not(:empty)::after {content: " €";}
.price:empty::after {content: "-";}
.price:empty{pointer-events:none}

img.flag {
  position: absolute;
  left: -24px;
  top: 6px;
}

.focused>.brief>.subtitle, etage>.brief>.subtitle {
  display: block;
}

.specs>.sleeps {
  background-image: url(16px/face.png);
}

.specs>.cabins {
  background-image: url(16px/doublebed.png);
}

.specs>.hp {
  background-image: url(16px/engine.png);
}

.specs>.wc {
  background-image: url(16px/wc.png);
}


page.book{
  text-align: center;
}

form {
  margin: 1em;
  text-align: left;
}

input {
  width: 100%;
  margin: .25em 0;
  box-sizing: border-box;
  border-width: 0 0 1px 0;
  padding: .25em 0;
  font-size: 1.2em;
  border-color: lightgray;
  background-color: lavender;
}

label {
  display: block;
  margin-top: 1em;
  width: 100%;
}

label::before {
  display: block;
  text-align: left;
  color: gray;
  font: italic .9em sans-serif;
}

input[type="submit"] {
  padding: 1em;
  border: none;
  border-radius: 4px;
  background: gold;
  margin: 1em auto;
  text-align: center;
}

.book>attic {
  background: darkslateblue;
}

.week>.dates {margin-top: -1.5em;text-align: left;color: gray;font-size: .8em;}

.week>.price {
  line-height: 2em;
  background-color: lightgreen;
  text-align: center;
}

.week>.price:empty{
	background:lightgray;
}

section.dates {
  margin: 2em;
}

.dates>select {
  border: none;
  background: none;
  outline: none;
}

.weeks {
  margin-top: 2em;
}

.week>.dates::after {/* content: " >"; */margin-left: .25em;}

/*
@media(min-width:480px){
	.dates {display: flex;margin-top: 2em;}
	.weeks{ flex: 1;}
}
*/

etage>.brief {
  margin: 1em;
}


.extras {
  /* margin-top: 2.4em; */
  position:relative;
  font-size: .8em;
}

.extras::before{
	position:absolute;
	top: -1.5em;
}

.extra {
  display: inline-block;
  margin: 2px 2px;
  padding: .2em.5em;
  background: lavender;
  border-radius: .5em;
  color: gray;
  text-align: center;
}


.extra>.title {
  /* margin-right: .5em; */
  display: block;
}

.dates {
  margin-top: 1.4em;
}

section.intro {
  text-align: center;
}

a.order {
  display: block;
  text-align: right;
  margin-top: 1em;
}

select.shipclass {
  display: block;
  width: 100%;
}