.ships {background: whitesmoke;padding-bottom: 2em;}

.offer{padding: 1rem; background: white;border-bottom: ;transition: background-color 2s ease-out;}
.offer.focused{box-shadow: 0 2px 6px rgb(0 0 0 / 10%);margin: 6px 0;box-sizing: border-box;}

.brief{position:relative;overflow: hidden;white-space: nowrap;background: inherit;}
.brief>.title{font-weight:bold;display: inline;margin-right: .5em;}
.brief>.subtitle{color: lightcoral;font-style: italic;font-family:cursive;display: inline;}
.brief>.note{color:gray; font-size:.9em}
.brief>.price{position:absolute;background: inherit;padding: 0 .2em;right:0;top: 0;}

.brief>.weeks{position:absolute;right:0;top: 1.5em;width: 2.5em;}
.weeks{display: flex;background: white;}
.weeks>.week{flex:1;margin: 1px;height: .5em; background-color: lightgreen;}
.week.busy{background-color: lightgray; border: red;}

.gallery{margin: 1rem -1rem;height: 320px;overflow-x:scroll;overflow-y: hidden;white-space: nowrap;background: white;}
.gallery>img{max-height: 320px; margin: 0 1px;vertical-align: middle;}


attic {
  background: darkslategray;
  color: white;
  height: 4em;
}

.specs>span {
  margin-right: 8px;
  padding: 2px 6px;
  background: lavender 2px no-repeat;
  padding-left: 21px;
}

.specs>.hp::after{
	content:"hp"
}

.specs {
  font-size: .9em;
  margin-top: .5em;
}

.price::after {content: " €";color: darkgrey;}

img.flag {
  position: absolute;
  left: -24px;
  top: 6px;
}

.offer.focused>.brief>.subtitle,.book>.brief>.subtitle {
  display: block;
}

.specs>.sleeps {
  background-image: url(16px/face.png);
}

.specs>.cabins {
  background-image: url(16px/doublebed.png);
}

.specs>.hp {
  background-image: url(16px/engine.png);
}

.specs>.wc {
  background-image: url(16px/wc.png);
}


page.book{
  text-align: center;
}

form {
  margin: 1em;
  text-align: left;
  padding: 1em;
}

input {
  width: 100%;
  margin: .25em 0;
  box-sizing: border-box;
  border-width: 0 0 1px 0;
  padding: .25em 0;
  font-size: 1.2em;
  border-color: lightgray;
  background-color: lavender;
}

label {
  display: block;
  margin-top: 2em;
  width: 100%;
}

label::before {
  display: block;
  text-align: left;
  color: gray;
  font: italic .9em sans-serif;
}

input[type="submit"] {
  padding: 1em;
  border: none;
  border-radius: 4px;
  background: gold;
  text-align: center;
}

.book>attic {
  background: darkslateblue;
}