.offer{/* padding: 1em; */padding: 1rem;/* margin: .2em; */background: white;border-bottom: ;transition: background-color 2s ease-out;}
.offer.focused{/* border: 1px solid lightgray; *//* margin-top: -1px; */background: cornsilk;box-shadow: 0 2px 3px rgba(0,0,0,.1);border-radius: 1em;margin: 1em 0;}

.brief{position:relative;overflow: hidden;white-space: nowrap;background: inherit;/* padding-right: 4em; */}
.brief>.title{font-weight:bold;display: inline;margin-right: .5em;}
.brief>.subtitle{color: lightcoral;font-style: italic;font-family:cursive;display: inline;/* margin: .5em; */}
.brief>.note{color:gray; font-size:.9em}
.brief>.price{position:absolute;background: inherit;padding: 0 .2em;right:0;top: 0;}

.brief>.weeks{position:absolute;right:0;top: 1.5em;width: 2.5em;}
.weeks{display: flex;background: white;}
.week{flex:1;margin: 1px;height: .5em; background-color: lightgreen;}
.week.busy{background-color: lightgray; border: red;}

.gallery{margin: 1rem -2rem;overflow-x:scroll;white-space: nowrap;background: white;box-shadow: 0 2px 4px rgb(0 0 0 / 20%);}
.gallery>img{max-height: 320px;/* min-height: 400px; */margin: 0 1px;vertical-align: middle;}


attic {
  background: darkslategray;
  color: white;
}

.specs>span {
  margin-right: 8px;
  padding: 2px 6px;
  background: lavender 2px no-repeat;
  padding-left: 21px;
}
/*
.specs>span::before {
  font-size: 1.5rem;
}

.specs>.sleeps::before{
	content: "☺ ";
}

.specs>.cabins::before{
	content: "🛏 ";
}

.specs>.wc::before{
	content: "🆏 ";
	font-family: u1f400;
}

.specs>.hp::before{
	content: "❊ ";
	vertical-align: sub;
}
*/
.specs>.hp::after{
	content:"hp"
}

.specs {
  /* color: gray; */
  font-size: .9em;
  margin-top: .5em;
}

.price::after {content: " €";color: darkgrey;}

img.flag {
  position: absolute;
  left: -24px;
  top: 6px;
}



.offer.focused>.brief>.subtitle {
  display: block;
}

.specs>.sleeps {
  background-image: url(16px/face.png);
}

.specs>.cabins {
  background-image: url(16px/doublebed.png);
}

.specs>.hp {
  background-image: url(16px/engine.png);
}

.specs>.wc {
  background-image: url(16px/wc.png);
}
