/*
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot);
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}
*/


icon, button::before, .checked::before
{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;  /* Preferred icon size */
  padding: .5em;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;	/* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility;	/* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale; 	/* Support for Firefox. */
  font-feature-settings: 'liga';		/* Support for IE. */
  /* color: inherit; */
}

.checked::before {content: "check";position: absolute;right:0;top:0;}

icon::before, button.icon::before, action:empty::before{
	content:attr(class);
}

button.icon::before{
	vertical-align: middle;
	box-shadow:0 4px 4px rgba(0,0,0,.25);
	border:none;
	border-radius:50%;
	z-index: 1;
}

action{
	display: inline-block;
	font-size: .85em;
	margin: .5em;
	text-transform:uppercase;
}

input, button {outline:none}

h1{font:normal 60px Roboto,sans-serif}
h2{font: normal 1.5rem sans-serif;margin-top: 2em;/* font: bold 1.5em Roboto,sans-serif; */}
h3{font: normal 21px Roboto,sans-serif;margin-top: 2em;}
h4{font:normal 27px Roboto,sans-serif}
h5{font:normal 24px Roboto,sans-serif}
h6{font:normal 20px Roboto,sans-serif}





html,body {
	font: normal 1rem Roboto, sans-serif;
	height: 100%;
	padding: 0;
	margin: 0;
	/* scroll-behavior: smooth; */
}

@media(max-width: 38rem){/* orientation:portrait */
	body{max-width:100%;overflow-x: hidden;}
	.client{ width: 200%;}
}

app {
    height: 100%;
    /* width: 200%; */
    display: flex;
    flex-direction: row;
    transition: all .5s;
}

page {
    flex: 1;
    max-width: 32em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

roof{
    position:relative;
    z-index: 1;
}

etage {
    flex: 1;
    position: relative;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
}


attic{
	display: block;
	position: sticky;
	top: 0;
}

attic>bar {
	height: 3rem;
	display: flex;
	flex-direction: row;
}

vault {
    padding: .5rem;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    font-size: 1.25em;
    box-shadow: 0 -.5rem .5rem white;
    z-index: 1;
}

tabset {
	position:absolute;
	bottom:0;
	left: 1rem;
	text-transform: uppercase;
	font-size: .9em;
}

tab {
    display: inline-block;
    transition: all .5s;
    padding: .5em;
    border-bottom: 3px solid transparent;
}

tab.selected {
    border-bottom-color: inherit;
}


section{
    /* padding: 1rem; */
    position: relative;
}



input, select {
    font-size: inherit;
}

input {
    text-align: inherit;
}

input[type=number] {
    text-align: right;
}

input::placeholder {
    font: italic 1em sans-serif;
}


[contenteditable] {
    cursor: text !important;
}

[contenteditable]:empty::before{
	font: italic 1em sans-serif; 
}

roof>.title{font-size: 1.25em; margin: .5em 0;}


.note {
    /* font-style: italic; */
}


attic {
    padding: 1rem;
    margin: 0;
    /* height: 3rem; */
    z-index: 1;
}

article {
    margin: 1rem;
}

.modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	display: flex;
}
.modal>.scrim{
	background: rgba(0,0,0,.32);
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	animation: fadein .25s ease-out;
}
.modal>.dialog {
    padding: 1rem 1.5rem;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.4);
    position: relative;
    margin: auto;
    max-width: 60%;
    display: inline-block;
}

.dialog>input {
    border: none;
    width:100%;
    border-bottom: 2px solid;
}

.dialog>.actions{padding:.5rem;text-align: right;margin: 1rem -1rem -1rem -1rem;}


attic>h2 {
  margin-top: 0;
  margin: 4px 0;
}