label.name::before{ content: "Имя"}
label.surname::before{ content: "Фамилия"}
label.phone-number::before{ content: "Телефон (с кодом страны)"}
label.email::before{ content: "Email"}
label.week::before{ content: "Даты аренды"}

.brief>.price::before {content: "от "}

.extra>.week:not(:empty)::after {content: " €/week"}
.extra>.day:not(:empty)::after {content: " €/day"}
.extra>.rental:not(:empty)::after {content: " €"}
.extra>.person:not(:empty)::after {content: " €/person"}

a.book-boat::before{content: "Забронировать";/* background: dodgerblue; */}
a.crew-boat::before{content: "Собрать команду";}

.more::before {content: "Еще...";}

attic>.title:empty::after{content: "↑ выберите регион на карте ↑";}

.match>.ships::before{content:"Яхты"}
.match>.makes::before{content:"Производители"}
.match>.charters::before{content:"Чартеры"}
.match>.marinas::before{content:"Марины"}
.match>.regions::before{content:"Регионы"}


button.others::before {content: "Помотреть все лодки в этой марине";}

label.search::before {content: "Название лодки, марины или места";}